@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 450px;
    min-width: 300px;!important;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}
#calculartor {
    /*border: 1px #e5e5e5 solid;*/
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.button {
    display: flex;
    text-decoration: none;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    background-color: #f0f0f0;
}
.button:hover {
    background-color: #DCDCDC;
}
.button::-moz-focus-inner {
    border: 0;
}
.button:active {
    outline: none;
}
.button:focus {
    outline: none;
}
header.top-part {
    background-color: #E8E8E8;
    display: flex;
    flex-flow: column;
    height: 35%;
}
.top-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
}
.top-menu-label {
    display: flex;
    flex-flow: row nowrap;
    height: 98%;
    width: 8%;
}
.option-top-menu-button{
    display: flex;
    border: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #E8E8E8;
}
.option-top-menu-button:hover{
    background-color: #DCDCDC;
}
.option-top-menu-icon {
    width: 16px;
    height: 13px;
}
.calculator-choosen {
    display: flex;
    height: 100%;
    width: 100%;
}
label.calculator-choosen{
    align-items: center;
    font-family: Tahoma;
}
.history-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #E8E8E8;
    width: 9%;
}
.history-button:hover {
    background-color: #DCDCDC;
    border: 0.5px solid #808080;
}
.memory-button {
    background-color: #E8E8E8;
    font-size: 0.59rem;
    font-weight: bold;
}
.memory-button:hover {
    background-color: #DCDCDC;
    outline: none;
}
.memory-button-style {
    display: flex;
}
.memory-buttons {
    width: 100%;
    display: flex;
}
.memory-save-style {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #808080;
    margin-top: 2px;
}
.screen {
    display: flex;
    flex-flow: column nowrap;
    height: 55%;
}
.history-screen {
    height: 20%;
}
#history {
    font-size: 0.7rem;
    width: 100%;
    height: 100%;
    border: 0;
    text-align: right;
    direction: rtl;
    unicode-bidi: bidi-override;
    background-color: transparent;
    padding:0 10px 0 10px;
    color: #808080;
}
.main-screen {
    height: 80%;
}
#main {
    font-size: x-large;
    font-weight: bold;
    color: black;
    width: 100%;
    border: 0;
    text-align: start;
    direction: rtl;
    background-color: transparent;
    padding:0 10px 0 10px;
}
.memory {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: #757575;
    width: 100%;
    height: 25%;
    margin-bottom: 1px;
}
section.bottom-part {
    background-color: #f0f0f0;
    display: flex;
    flex-flow: column;
    height: 65%;
}
.features {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.main-menu {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.number {
    display: flex;
    text-align: center;
    background-color: white;!important;
    font-size: 1.2rem;
    font-weight: bold;
}
.icon {
    width: 15px;
    height: 15px;
}
.right-part {
    display: none;
    height: 100%;
}
.left-part {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.max-width {
    display: none;
}
.part {
    display: flex;
    flex-flow: row;
    height: 95.8%;
    width: 100%;
}
.branding-top {
    padding-left: 1%;
}
.title-bar {
    display: flex;
    flex-flow: row;
    background-color: #E8E8E8;
    justify-content: space-between;
    align-items: center;
    height: 4.2%;
}
.window {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.window-icons {
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: inherit;
    width: 10%;
    outline: none;
}
.window-icons-img {
    width: 19px;
    height: 25px;
    padding: 6px 4px 6px 4px;
}
.window-icons:hover {
    background-color: #DCDCDC;
}
#dot {
    font-weight: bold;
    opacity: 1;!important;
    font-size: 1.8rem;!important;
}
.branding {
    font-family: Tahoma;
    display: flex;
    justify-content: flex-start;
    font-weight: lighter;
    font-size: 0.6rem;
}
.x-sign {
    font-family: "Zhi Mang Xin";
}
.x-letter {
    font-size: 16px;
    font-family: "Zhi Mang Xin";
}
.close:hover {
    background-color: red;!important;
}
@media screen and (min-width: 550px) {
    .history-button {
        display: none;
    }
    .memory-save-style {
        display: none;
    }
    .part {
        display: flex;
        flex-flow: row;
        height: 95.8%;
        width: 100%;
    }
    .right-part {
        display: flex;
        flex-flow: column;
        background-color: #E8E8E8;
        width: 46%;
    }
    .right-tabs {
        display: flex;
        height: 7%;
        width: 60%;
        justify-content: space-around;
        align-items: center;
    }
    .tab {
        display: flex;
        background-color: #E8E8E8;
    }
    #history-tab-button {
        background-color: inherit;
        display: flex;
        border: none;
        border-bottom: cadetblue solid 2px;!important;
        font-weight: 600;
        font-size: 0.7rem;
        padding-bottom: 1px;
    }
    #memory-tab-button {
        background-color: inherit;
        display: flex;
        border: none;
        /*border-bottom: cadetblue solid 2px;!important;*/
        font-weight: 600;
        font-size: 0.7rem;
        padding-bottom: 1px;
    }
    #history-tab{
        font-size: .65rem;
        font-weight: 600;
    }
    #memory-tab {
        display: none;
    }
    .tab-content {
        padding: 10px 0 0 20px;
        display: flex;
    }
    .memory {
        width: 65%;
    }
    #main {
        font-size: 2.8rem;
    }
    #history {
        font-size: 0.8rem;
    }
    .window-icons {
        width: 6%;
    }
    #divide:hover {
        background-color: dodgerblue;
    }
    #multiply:hover {
        background-color: dodgerblue;
    }
    #minus:hover {
        background-color: dodgerblue;
    }
    #plus:hover {
        background-color: dodgerblue;
    }
    #equal:hover {
        background-color: dodgerblue;
    }
}
@media screen and (min-width: 800px) and (min-height: 550px) {
    .icon {
        width: 18px;
        height: 18px;
    }
    .number {
        font-size: 1.2rem;
    }
    .sign {
        font-size: 0.95rem;
    }
    .max-width {
        display: flex;
    }
    #row-column {
        display: none;
    }
    #main {
        font-size: 2.8rem;
    }
    #history {
        font-size: 0.9rem;
    }
    .memory {
        width: 40%;
    }
    .right-part {
        width: 35%;
    }
    .window-icons {
        width: 5%;
    }
    .x-letter {
        font-size: 20px;
    }
    #divide:hover {
        background-color: dodgerblue;
    }
    #multiply:hover {
        background-color: dodgerblue;
    }
    #minus:hover {
        background-color: dodgerblue;
    }
    #plus:hover {
        background-color: dodgerblue;
    }
    #equal:hover {
        background-color: dodgerblue;
    }
}



