@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;

}
#calculartor {
    border: 1px #e5e5e5 solid;
    display: flex;
    flex-flow: column;
    height: 100%;
}
header.top-part {
    background-color: #e5e5e5;
    display: flex;
    flex-flow: column;
    height: 30%;
}
.top-menu {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-between;
}
.top-menu-label {
    display: flex;
    flex-flow: row nowrap;
}
.option-top-menu-button{
    display: flex;
    justify-items: center;
    align-items: center;
}
.calculator-choosen {
    display: flex;
    font-weight: 500;

}
label.calculator-choosen{
    align-items: center;
    padding-left: 10px;
}
.history-button {
    display: flex;
    justify-content: right;
    justify-items: center;
    align-items: center;
}
.screen {
    display: flex;
    flex-flow: column nowrap;
    height: 70%;
}
.history-screen {
    display: flex;
    height: 20%;
}
#history {
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    border: 0;
    text-align: right;
    direction: rtl;
    unicode-bidi: bidi-override;
    background-color: transparent;
    padding:0 10px 0 10px;
}
.main-screen {
    display: flex;
    height: 80%;
}
#main {
    font-size: 3rem;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border: 0;
    text-align: right;
    direction: rtl;
    unicode-bidi: bidi-override;
    background-color: transparent;
    padding:0 5px 0 5px
}
.memory {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 0.75rem;
    color: #757575;
    max-width: 100%;
    width: 70%;
    height: 15%;
}
section.bottom-part {
    background-color: #f2f2f2;
    display: flex;
    flex-flow: column;
    height: 70%;
}
.features {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.main-menu {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 100%;
    border: 1px solid #e5e5e5;
    width: 100%;
}
.number {
    display: flex;
    text-align: center;
    background-color: white;!important;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: flex;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}
#percentage {
    border-right: 1px solid #e5e5e5;
}
div.button.number{
    border-right: 1px solid #e5e5e5;
}
div.button.image {
    border-right: 1px solid #e5e5e5;
}
div.button.sign {
    border-right: 1px solid #e5e5e5;
}
.right-part {
    display: none;
    height: 100%;
}
.left-part {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 500px;
}
.max-width {
    display: none;
}
.part {
    display: flex;
    flex-flow: row;
    height: 100%;
}
@media screen and (min-width: 500px) {
    .history-button {
        display: none;
    }
    .memory-save {
        display: none;
    }
    .part {
        display: flex;
        flex-flow: row;
        height: 100%;
    }
    .right-part {
        display: flex;
        flex-flow: column;
        background-color: #e5e5e5;
        min-width: 30%;
    }
    .right-tabs {
        display: flex;

    }
    .tab {
        display: flex;
        justify-content: space-around;
        background-color: #e5e5e5;
        padding: 5px 15px 15px 20px;
    }
    #history-tab-button {
        background-color: inherit;
        display: flex;
        cursor: pointer;
        border: none;
        border-bottom: cadetblue solid 5px;!important;
        padding-bottom: 5px;
        color: black;
        font-weight: 500;
    }
    #memory-tab-button {
        color: black;
        background-color: inherit;
        display: flex;
        cursor: pointer;
        border: none;
        padding-bottom: 5px;
        font-weight: 500;
    }
    #history-tab{
        font-size: .90rem;
        font-weight: 500;
    }
    #memory-tab {
        display: none;
    }
    .tab-content {
        padding: 10px 0 0 20px;
    }
}
@media screen and (min-width: 700px) {
    .max-width {
        display: flex;
    }
    #row-column {
        display: none;
    }
    #main {
        font-size: 5rem;
    }
    #history {
        font-size: 1.1rem;
    }
    .memory {
        font-size: 1.1rem;
    }

}



